:root {
    --dark-green: #40592f;
    --light-blue: #09669f;
    --light-green: #288f40;
    --salat: #9de55f;
    --light-salat: #9ae660;
    --light-but-salat: #8ef73d;
    --crem-white: #fbfdfc;
    --but-dark-green: #0f2a09;
}
