@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/Back/grey-back.jpg");
}

header {
    margin-top: 2.222vh;
}

.header_img {
    display: flex;
    justify-content: center;
    height: 7vmax;
}

.header_img > img {
    height: 100%;
}

.main-top {
    min-height: 41.888vh;
}

.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 20vw;
    color: var(--crem-white);
}

.back_text {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -10;
}

.back_text > h1 {
    font-size: 15.222vw;
    line-height: 30px;
    margin-top: 80px;
    color: var(--dark-green);
    font-family: "Bebas Neue";
}

.front_image {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    height: 20vmax;
    width: 50vmax;
}

.front_image > img {
    height: 100%;
    width: 100%;
}

.name_car {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    line-height: 10px;
    margin-top: 10px;
    color: var(--salat);
    margin-bottom: 0;
    padding-bottom: 0;
}

.name_car > h2 {
    font-family: "Montserrat";
}

.characteristic {
    margin: 0 auto;
    width: 70%;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;

    flex-wrap: wrap;
}

li:not(:last-child) {
    margin-right: 10px;
}

li > p {
    color: var(--crem-white);
    font-family: "Roboto";
    font-size: 1.5vw;
    line-height: 1px;
}

.start_engine {
    display: flex;
    justify-content: center;
}

#engine {
    height: 8vh;
    width: 12vw;
    border-radius: 10px;
    background-color: var(--light-salat);
    color: var(--but-dark-green);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1.2vw;
    border: none;
}

#engine:hover {
    background-color: var(--light-but-salat);
    scale: 0.8;
}

.shake {
    animation: shake ease-in 5s;
}

.smoke {
    width: 100px;
    height: 100px;
    background: radial-gradient(
        circle at 50% 20%,
        rgba(220, 220, 220, 0.8) 0%,
        rgba(180, 180, 180, 0.5) 50%,
        transparent 80%
    );
    border-radius: 60% 60% 40% 40% / 80% 80% 30% 30%;
    position: absolute;
    bottom: 15%;
    right: 0;
    pointer-events: none;
    transform-origin: bottom center;
    animation: smoke1 5s ease-out forwards;
    opacity: 0;
}

/*======== ANIMATION ======*/
@keyframes shake {
    0% {
        scale: 1;
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-2px, -2px);
        scale: 1.01;
    }
    20% {
        scale: 1;
        transform: translate(0, 0);
    }
    30% {
        scale: 1.02;
        transform: translate(2px, 2px);
    }
    40% {
        scale: 1;
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-2px, 2px);
        scale: 1.02;
    }
    60% {
        scale: 1;
        transform: translate(0, 0);
    }
    70% {
        transform: translate(2px, -2px);
        scale: 1.01;
    }
    80% {
        scale: 1;
        transform: translate(0, 0);
    }
    90% {
        transform: translate(-2px, -2px);
        scale: 1.01;
    }
    100% {
        transform: translate(0, 0);
        scale: 1;
    }
}

@keyframes smoke1 {
    0% {
        opacity: 0;
        transform: translate(0) scale(0.6);
    }
    20% {
        opacity: 0.8;
        transform: translate(20px, -20px) scale(1);
    }
    60% {
        opacity: 0.5;
        transform: translate(100px, -100px) scale(1.6);
    }
    100% {
        opacity: 0;
        transform: translate(200px, -200px) scale(3);
    }
}
